{% extends "index.html.j2" %}
{% block title %}Tools{% endblock %}
{% block content %}

<!-- cover -->
<section class="py-10 md:py-20 mb-5 md:mb-12">
  <div class="container px-5 mx-auto flex flex-col lg:flex-row">
    <div class="max-w-2xl lg:max-w-xl xl:max-w-2xl">
      <p class="text-darker text-3xl md:text-5xl font-extralight leading-snug md:leading-snug">Supercharge your <span class="font-medium">investigative workflows</span> with our search, visualization, and alerting tools</p>
      <p class="text-lg md:text-xl font-light leading-relaxed md:leading-relaxed mt-5 md:mt-7 mb-7">Test hypotheses faster by running auto-updating queries in a single unified platform and leveraging our pre-loaded content</p>
      <a href="https://tools.codefordemocracy.org" target="_blank" class="btn btn-lg btn-primary w-full sm:w-auto mb-1">Launch Our Tools</a>
      <a href="https://docs.codefordemocracy.org/tools/" target="_blank" class="btn btn-lg btn-secondary w-full sm:w-auto mb-1">View Documentation</a>
    </div>
    <div class="pt-10 md:pt-12 lg:pt-0 flex-grow lg:-mt-5 lg:ml-12 xl:mt-0">
      <a href="https://scribehow.com/shared/Create-an-Alert-for-New__c38f6uJDSe2HCd3ierHfTg" target="_blank" class="mr-10 mb-4 text-sm border border-secondary p-5 font-light rounded-md leading-relaxed text-red block filter drop-shadow-md bg-white">
        Create an Alert for New Contributions to Candidates from California
      </a>
      <a href="https://scribehow.com/shared/Visualize-Contributions-from-Senior-Executives__JJyrITYSRpaOFLgjJXr2bA" target="_blank" class="ml-10 mb-4 text-sm border border-secondary p-5 font-light rounded-md leading-relaxed text-red block filter drop-shadow-md bg-white">
        Visualize Contributions from Senior Executives that were Refunded
      </a>
      <a href="https://scribehow.com/shared/Find-Contributions-from-Lobbyists-Lobbying__XjI4aFnTTDy7XP1kLy4NiQ" target="_blank" class="mr-10 mb-4 text-sm border border-secondary p-5 font-light rounded-md leading-relaxed text-red block filter drop-shadow-md bg-white">
        Find Contributions from Lobbyists Lobbying on Healthcare
      </a>
      <a href="https://scribehow.com/shared/Download-Tax-Documents-that-Mention__c4joPvH1SE21TE1gFrNcEQ" target="_blank" class="ml-10 mb-4 text-sm border border-secondary p-5 font-light rounded-md leading-relaxed text-red block filter drop-shadow-md bg-white">
        Download Tax Documents that Mention Big Tech Companies
      </a>
      <a href="https://scribehow.com/shared/Explore-Donors-Common-to-Manchin__KRj1opGdQZejR-qGIa3VAQ" target="_blank" class="mr-10 text-sm border border-secondary p-5 font-light rounded-md leading-relaxed text-red block filter drop-shadow-md bg-white">
        Explore Donors Common to Manchin and Sinema
      </a>
    </div>
  </div>
</section>
<!-- /cover -->

<!-- features -->
<section class="bg-light border-t border-secondary py-20">
  <div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-14 px-5 mx-auto">
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Standardized bulk search across multiple datasets</p>
      <p class="font-light leading-relaxed mt-3">Run the same queries across campaign finance, lobbying, 990, news, and social media datasets without needing to navigate separate systems</p>
    </div>
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Email alerts when new search results are available</p>
      <p class="font-light leading-relaxed mt-3">Stay on top of new data by setting up weekly, daily, or monthly alerts that automatically update you when new or no search results are found</p>
    </div>
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Integrations with popular visualization engines</p>
      <p class="font-light leading-relaxed mt-3">Transform search results using aggregations and send the data to Datawrapper in order to create embeddable charts and tables</p>
    </div>
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Pre-loaded search queries as customizable starting points</p>
      <p class="font-light leading-relaxed mt-3">Get to immediate insights by running queries on pre-researched lists of people and organizations we maintain or clone and edit them as you'd like</p>
    </div>
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Linkable search results for sharing and collaboration</p>
      <p class="font-light leading-relaxed mt-3">Share search results with your audience or team members using the unique link that's generated for every query you save</p>
    </div>
    <div>
      <p class="text-darker text-2xl md:text-3xl font-light leading-snug md:leading-snug">Data dumps that can be used in other applications</p>
      <p class="font-light leading-relaxed mt-3">Download row-by-row data from queries in CSV or JSON format and use them in spreadsheets, custom visualizations, or other applications</p>
    </div>
  </div>
</section>
<!-- /features -->

{% endblock %}
